<div class="container">
    <div class="mb-5">
        <h2 class="mb-4">Blogs 📱</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.hashnode.dev/viewport-meta-tag-importance">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/Viewport-meta-tag-importance.png" alt="Viewport Meta Tag Importance">
                    <div class="mt-3">
                        <p class="fw-bold m-0">Viewport Meta Tag Importance</p>
                        <p class="text-muted">February 26, 2022</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.hashnode.dev/difference-between-remove-and-style-display-none">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/difference-between-remove-and-style-display-none.png" alt="Difference Detween Remove And Style Display None">
                    <div class="mt-3">
                        <p class="fw-bold m-0">Diff b/w Remove And Style Display None</p>
                        <p class="text-muted">March 18, 2022</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.blogspot.com/2022/03/the-way-you-talk-matters.html">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/the-way-you-talk-matters.png" alt="The Way You Talk, Matters!">
                    <div class="mt-3">
                        <p class="fw-bold m-0">The Way You Talk, Matters!</p>
                        <p class="text-muted">March 31, 2022</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.blogspot.com/2021/11/the-attraction.html">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/the-attraction.png" alt="The Attraction">
                    <div class="mt-3">
                        <p class="fw-bold m-0">The Attraction</p>
                        <p class="text-muted">November 08, 2021</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.blogspot.com/2021/12/do-what-you-fear-from.html">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/do-what you-fear-from.png" alt="Do What You Fear From">
                    <div class="mt-3">
                        <p class="fw-bold m-0">Do What You Fear From</p>
                        <p class="text-muted">December 15, 2021</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://vishwasacharya.blogspot.com/2021/11/partiality.html">
                    <img loading="lazy" class="img-fluid rounded shadow-sm w-100" src="/img/pod-blog/partiality.png" alt="Partiality">
                    <div class="mt-3">
                        <p class="fw-bold m-0">Partiality</p>
                        <p class="text-muted">November 27, 2021</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>