<div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 mx-3 mb-md-0 text-muted text-decoration-none">
          <img src="favicon.ico" alt="">
        </a>
        <span class="text-muted">© 2022 Vishwas Acharya</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-1"><a class="text-muted" href="https://www.twitter.com/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.youtube.com/c/VishwasAcharya" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/youtube-play.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.instagram.com/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://vishwasacharya.blogspot.com" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/blogger.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.linkedin.com/in/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/linkedin.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.facebook.com/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.github.com/vishwasracharya" target="_blank"><img class="w-75" id="github" src="https://img.icons8.com/ios-glyphs/48/000000/github.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://www.snapchat.com/add/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/fluency/48/000000/snapchat.png"/></a></li>
        <li class="ms-1"><a class="text-muted" href="https://t.me/vishwasracharya" target="_blank"><img class="w-75" src="https://img.icons8.com/color/48/000000/telegram-app--v1.png"/></a></li>
      </ul>
    </footer>
  </div>