<div class="d-flex align-items-center justify-content-center mt-5">
  <a class="mx-2 p-2 tab" href="/terms-of-services" target="_blank" rel="noopener noreferrer">Terms</a>
  &bull;
  <a class="mx-2 p-2 tab" href="/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy</a>
  </ul>
</div>
<footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-1">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 mx-3 mb-md-0 tab text-decoration-none">
      <img class="foot-social" src="/favicon.ico" alt="Footer Icon">
    </a>
    <span class="tab">© <span id="presentYear"></span> Vishwas Acharya</span>
  </div>
  <div class="col-md-4">
    <div class="d-flex align-items-center justify-content-end">
      <a class="mx-1 p-2 tab fa-brands fa-twitter" href="https://www.twitter.com/vishwasracharya" title="Vishwas Acharya Twitter Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-instagram" href="https://www.instagram.com/vishwasracharya" title="Vishwas Acharya Instagram Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-blogger-b" href="https://vishwasacharya.blogspot.com" title="Vishwas Acharya Blogger Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-linkedin" href="https://www.tabedin.com/in/vishwasracharya" title="Vishwas Acharya Linkedin Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-facebook" href="https://www.facebook.com/vishwasracharya" title="Vishwas Acharya Facebook Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-github" href="https://www.github.com/vishwasracharya" title="Vishwas Acharya GitHub Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-snapchat" href="https://www.snapchat.com/add/vishwasracharya" title="Vishwas Acharya SnapChat Profile" target="_blank"></a>
      <a class="mx-1 p-2 tab fa-brands fa-telegram" href="https://t.me/vishwasracharya" title="Vishwas Acharya Telegram Profile" target="_blank"></a>
    </div>
  </div>
</footer>

<script>
  document.getElementById("presentYear").innerHTML = new Date().getFullYear();
</script>