<header class="sticky-top bg-white shadow-sm">
    <div class="container py-1">
        <div class="d-flex align-items-center justify-content-center mx-auto flex-wrap">
            <a class="tab m-1 px-2 py-1" aria-current="page" href="/">Home</a>
            <a class="tab m-1 px-2 py-1" href="/about">About</a>
            <a class="tab m-1 px-2 py-1" href="/blog">Blog</a>
            <a class="tab m-1 px-2 py-1" href="/podcast">Podcast</a>
        </div>
    </div>
</header>