<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Podcast | Vishwas Acharya</title>
    <%- include ('includes/styles.ejs')  %> 
</head>
<body>
    <%- include ('includes/navbar.ejs')  %>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center vertical-center center">Vishwas Acharya Podcast Page 👋 </h1>
                </div>
            </div>
        </div>
    </section>
    
    <%- include ('includes/footer.ejs')  %>
    <%- include ('includes/scripts.ejs')  %> 
</body>
</html>