/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* :root{
  --royalBlue: #4169e1;
} */
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-size: small; */
  color: #202124;
}
/*  Scroll Bar CSS */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(228, 228, 228, 0.877);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(218, 218, 218, 0.816);
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cececef3;
}

/* Dark Mode CSS */
.dark-mode {
  background-color: #202124 !important;
  color: #ffffff !important;
}
.shadow-white {
  box-shadow: 0 1rem 3rem rgba(243, 243, 243, 0.175) !important;
}
.invert:hover {
  transition: all 0.4s ease-in-out;
  filter: invert(100%);
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* A CSS gradient border for Hero/Landing Img. */
.gradient-borders {
  border: double 7px transparent;
  background-image: linear-gradient(#9400d3, #0000ff),
    radial-gradient(circle at top left, #4b0082, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.text-justify {
  text-align: justify;
}
.height-30{
  height: 30px;
}
/* link {
  color: #ffffff;
} */
link:hover {
  transition: all 0.4s ease-in-out !important;
  color: #4169e1 !important;
}
.btn-blue{
  background-color: #4169e1 !important;
  color: #ffffff !important;
}
.btn-blue:hover{
  background-color: #2b59e2 !important;
  color: #ffffff !important;
}