<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Terms Of Services | Vishwas Acharya</title>
    <%- include ('../includes/styles.ejs') %>
</head>

<body>
    <%- include ('../includes/navbar.ejs') %>

        <section class="py-5 bg-light">
            <div class="container my-5">
                <div class="row center mx-auto">
                    <div class="col-10 col-md-7">
                        <div class="d-flex flex-column text-center">
                            <h1 class="h1">Terms of Use</h1>
                            <p class="text-muted"><strong class="text-muted">Last Updated:</strong> 07 April, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="card shadow-sm rounded border-0">
                            <div class="card-body p-md-5">
                                    <div class="">
                                        <h5 class="fw-bold">Terms</h5>
                                        <p class="">By accessing the website at https://vishwasacharya.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
                                        </p>
                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Use License</h5>
                                        <p class="">
                                            <ol type="a" class="terms-list">
                                                <li>Permission is granted to temporarily download one copy of the materials (information or software) on vishwasacharya.com  website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer
                                                    of title, and under this license you may not:
                                                    <ol type="i" class="terms-list">
                                                        <li>modify or copy the materials;</li>
                                                        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                                                        <li>attempt to decompile or reverse engineer any software contained on vishwasacharya.com website;</li>
                                                        <li>remove any copyright or other proprietary notations from the materials; or</li>
                                                        <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                                                    </ol>
                                                </li>
                                                <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by vishwasacharya.com at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
                                                </li>
                                            </ol>
                                        </p>

                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Disclaimer</h5>
                                        <p class="">
                                            <ol type="a" class="terms-list">
                                                <li>The materials on vishwasacharya.com website are provided on an 'as is' basis. vishwasacharya.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
                                                </li>
                                                <li>Further, vishwasacharya.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
                                                </li>
                                            </ol>
                                        </p>

                                    </div>
                                    <div class="">
                                        <h5 class="fw-bold">Limitations
                                        </h5>
                                        <p class="terms-content__text">In no event shall vishwasacharya.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on vishwasacharya.com's website, even if vishwasacharya.com or a vishwasacharya.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                                        </p>

                                        <h6 class="fw-bold">Accuracy of materials
                                        </h6>
                                        <p class="terms-content__text">
                                            The materials appearing on vishwasacharya.com's website could include technical, typographical, or photographic errors. vishwasacharya.com does not warrant that any of the materials on its website are accurate,
                                            complete or current. vishwasacharya.com may make changes to the materials contained on its website at any time without notice. However vishwasacharya.com does not
                                            make any commitment to update the materials.


                                        </p>

                                        <h6 class="fw-bold">Links
                                        </h6>
                                        <p class="terms-content__text">
                                            vishwasacharya.com has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by vishwasacharya.com of the site. Use of any such linked website is at the user's own risk.
                                        </p>

                                        <h6 class="fw-bold">Modifications
                                        </h6>
                                        <p class="terms-content__text">
                                            vishwasacharya.com may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
                                        </p>

                                        <h6 class="fw-bold">Governing Law
                                        </h6>
                                        <p class="terms-content__text">
                                            These terms and conditions are governed by and construed in accordance with the laws of DELHI, INDIA and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
                                        </p>
                                        <!-- <a href="javascript:window.print()" class="btn btn-blue bg-gradient shadow rounded d-print-none">Print</a> -->
                                        <p>For any questions or clarifications write to us at <a class="text-blue" href="mailto:vishwasracharya@gmail.com">vishwasracharya@gmail.com</a>.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>

        <!-- old terms -->
        <!-- <div class="container my-5">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card p-4 border-0 shadow-sm">
                        <p>Welcome to Vishwas Acharya!</p>

                        <p>These terms and conditions outline the rules and regulations for the use of Vishwas Acharya's
                            Website,
                            located at
                            https://vishwasacharya.herokuapp.com/.</p>

                        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to
                            use Vishwas
                            Acharya if
                            you do not agree to take all of the terms and conditions stated on this page.</p>

                        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and
                            Disclaimer Notice and
                            all
                            Agreements: "Client", "You" and "Your" refers to you, the person log on this website and
                            compliant to the
                            Company’s
                            terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our
                            Company. "Party",
                            "Parties",
                            or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance
                            and consideration
                            of
                            payment necessary to undertake the process of our assistance to the Client in the most
                            appropriate manner
                            for the
                            express purpose of meeting the Client’s needs in respect of provision of the Company’s
                            stated services, in
                            accordance with and subject to, prevailing law of Netherlands. Any use of the above
                            terminology or other
                            words in
                            the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and
                            therefore as
                            referring
                            to same.</p>

                        <h3><strong>Cookies</strong></h3>

                        <p>We employ the use of cookies. By accessing Vishwas Acharya, you agreed to use cookies in
                            agreement with the
                            Vishwas
                            Acharya's Privacy Policy. </p>

                        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit.
                            Cookies are used
                            by our
                            website to enable the functionality of certain areas to make it easier for people visiting
                            our website. Some
                            of our
                            affiliate/advertising partners may also use cookies.</p>

                        <h3><strong>License</strong></h3>

                        <p>Unless otherwise stated, Vishwas Acharya and/or its licensors own the intellectual property
                            rights for all
                            material
                            on Vishwas Acharya. All intellectual property rights are reserved. You may access this from
                            Vishwas Acharya
                            for your
                            own personal use subjected to restrictions set in these terms and conditions.</p>

                        <p>You must not:</p>
                        <ul>
                            <li>Republish material from Vishwas Acharya</li>
                            <li>Sell, rent or sub-license material from Vishwas Acharya</li>
                            <li>Reproduce, duplicate or copy material from Vishwas Acharya</li>
                            <li>Redistribute content from Vishwas Acharya</li>
                        </ul>

                        <p>This Agreement shall begin on the date hereof.</p>

                        <p>Parts of this website offer an opportunity for users to post and exchange opinions and
                            information in certain
                            areas
                            of the website. Vishwas Acharya does not filter, edit, publish or review Comments prior to
                            their presence on
                            the
                            website. Comments do not reflect the views and opinions of Vishwas Acharya,its agents and/or
                            affiliates.
                            Comments
                            reflect the views and opinions of the person who post their views and opinions. To the
                            extent permitted by
                            applicable laws, Vishwas Acharya shall not be liable for the Comments or for any liability,
                            damages or
                            expenses
                            caused and/or suffered as a result of any use of and/or posting of and/or appearance of the
                            Comments on this
                            website.</p>

                        <p>Vishwas Acharya reserves the right to monitor all Comments and to remove any Comments which
                            can be considered
                            inappropriate, offensive or causes breach of these Terms and Conditions.</p>

                        <p>You warrant and represent that:</p>

                        <ul>
                            <li>You are entitled to post the Comments on our website and have all necessary licenses and
                                consents to do
                                so;</li>
                            <li>The Comments do not invade any intellectual property right, including without limitation
                                copyright,
                                patent or
                                trademark of any third party;</li>
                            <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise
                                unlawful material
                                which
                                is an invasion of privacy</li>
                            <li>The Comments will not be used to solicit or promote business or custom or present
                                commercial activities
                                or
                                unlawful activity.</li>
                        </ul>

                        <p>You hereby grant Vishwas Acharya a non-exclusive license to use, reproduce, edit and
                            authorize others to use,
                            reproduce and edit any of your Comments in any and all forms, formats or media.</p>

                        <h3><strong>Hyperlinking to our Content</strong></h3>

                        <p>The following organizations may link to our Website without prior written approval:</p>

                        <ul>
                            <li>Government agencies;</li>
                            <li>Search engines;</li>
                            <li>News organizations;</li>
                            <li>Online directory distributors may link to our Website in the same manner as they
                                hyperlink to the
                                Websites of
                                other listed businesses; and</li>
                            <li>System wide Accredited Businesses except soliciting non-profit organizations, charity
                                shopping malls,
                                and
                                charity fundraising groups which may not hyperlink to our Web site.</li>
                        </ul>

                        <p>These organizations may link to our home page, to publications or to other Website
                            information so long as the
                            link:
                            (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or
                            approval of the
                            linking
                            party and its products and/or services; and (c) fits within the context of the linking
                            party’s site.</p>

                        <p>We may consider and approve other link requests from the following types of organizations:
                        </p>

                        <ul>
                            <li>commonly-known consumer and/or business information sources;</li>
                            <li>dot.com community sites;</li>
                            <li>associations or other groups representing charities;</li>
                            <li>online directory distributors;</li>
                            <li>internet portals;</li>
                            <li>accounting, law and consulting firms; and</li>
                            <li>educational institutions and trade associations.</li>
                        </ul>

                        <p>We will approve link requests from these organizations if we decide that: (a) the link would
                            not make us look
                            unfavorably to ourselves or to our accredited businesses; (b) the organization does not have
                            any negative
                            records
                            with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence
                            of Vishwas
                            Acharya; and
                            (d) the link is in the context of general resource information.</p>

                        <p>These organizations may link to our home page so long as the link: (a) is not in any way
                            deceptive; (b) does
                            not
                            falsely imply sponsorship, endorsement or approval of the linking party and its products or
                            services; and
                            (c) fits
                            within the context of the linking party’s site.</p>

                        <p>If you are one of the organizations listed in paragraph 2 above and are interested in linking
                            to our website,
                            you
                            must inform us by sending an e-mail to Vishwas Acharya. Please include your name, your
                            organization name,
                            contact
                            information as well as the URL of your site, a list of any URLs from which you intend to
                            link to our
                            Website, and a
                            list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
                        </p>

                        <p>Approved organizations may hyperlink to our Website as follows:</p>

                        <ul>
                            <li>By use of our corporate name; or</li>
                            <li>By use of the uniform resource locator being linked to; or</li>
                            <li>By use of any other description of our Website being linked to that makes sense within
                                the context and
                                format of
                                content on the linking party’s site.</li>
                        </ul>

                        <p>No use of Vishwas Acharya's logo or other artwork will be allowed for linking absent a
                            trademark license
                            agreement.
                        </p>

                        <h3><strong>iFrames</strong></h3>

                        <p>Without prior approval and written permission, you may not create frames around our Webpages
                            that alter in
                            any way
                            the visual presentation or appearance of our Website.</p>

                        <h3><strong>Content Liability</strong></h3>

                        <p>We shall not be hold responsible for any content that appears on your Website. You agree to
                            protect and
                            defend us
                            against all claims that is rising on your Website. No link(s) should appear on any Website
                            that may be
                            interpreted
                            as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the
                            infringement or
                            other
                            violation of, any third party rights.</p>

                        <h3><strong>Your Privacy</strong></h3>

                        <p>Please read Privacy Policy</p>

                        <h3><strong>Reservation of Rights</strong></h3>

                        <p>We reserve the right to request that you remove all links or any particular link to our
                            Website. You approve
                            to
                            immediately remove all links to our Website upon request. We also reserve the right to amen
                            these terms and
                            conditions and it’s linking policy at any time. By continuously linking to our Website, you
                            agree to be
                            bound to and
                            follow these linking terms and conditions.</p>

                        <h3><strong>Removal of links from our website</strong></h3>

                        <p>If you find any link on our Website that is offensive for any reason, you are free to contact
                            and inform us
                            any
                            moment. We will consider requests to remove links but we are not obligated to or so or to
                            respond to you
                            directly.
                        </p>

                        <p>We do not ensure that the information on this website is correct, we do not warrant its
                            completeness or
                            accuracy; nor
                            do we promise to ensure that the website remains available or that the material on the
                            website is kept up to
                            date.
                        </p>

                        <h3><strong>Disclaimer</strong></h3>

                        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties
                            and conditions
                            relating
                            to our website and the use of this website. Nothing in this disclaimer will:</p>

                        <ul>
                            <li>limit or exclude our or your liability for death or personal injury;</li>
                            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                            <li>limit any of our or your liabilities in any way that is not permitted under applicable
                                law; or</li>
                            <li>exclude any of our or your liabilities that may not be excluded under applicable law.
                            </li>
                        </ul>

                        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this
                            disclaimer: (a) are
                            subject
                            to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer,
                            including
                            liabilities
                            arising in contract, in tort and for breach of statutory duty.</p>

                        <p>As long as the website and the information and services on the website are provided free of
                            charge, we will
                            not be
                            liable for any loss or damage of any nature.</p>
                    </div>
                </div>
            </div>
        </div> -->

        <%- include ('../includes/footer.ejs') %>
            <%- include ('../includes/scripts.ejs') %>
</body>

</html>